@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Josefin+Slab:300,500,500italic,600');
@import 'tokens.css';

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Josefin Slab', serif;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--primary-color);
  color: #E8604D;
  font-size: 20px;
  border-left: 5px solid var(--header-border-color);
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 2em;
}

li {
  color: var(--primary-color);
  font-size: 23px;
  margin: 10px;
}

.checklist {
  color: var(--primary-color);
  font-size: 23px;
  margin: 10px;
}
  .checklist>div {
    padding: 10px;
  }

a {
  color: var(--accent-color);
}

  .italics {
    font-style: italic;
    font-size: 20px;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

h1 {
  color: var(--darker-accent-color);
  align-self: center;
  line-height: 0;
}


h2 {
  color: var(--primary-color);
  border-left: 5px solid var(--header-border-color);
  padding-left: 10px;
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

th {
  text-align: left;
  padding: 5px;
  padding-right: 25px;
  font-size: 20px;
}

td {
  font-size: 20px;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

svg.icon {
  display: inline;
  height: 1.5em;
  width: 1.5em;
  vertical-align: bottom;
  fill: var(--primary-color);
}

span.profile {
  text-align: right;
  flex-basis: 30%;
}

nav {
  color: var(--darker-accent-color);
  flex-basis: 30%;
}

.main-nav {
  margin: 20px;
}