:root {
    --background-color: #1A2335;
    --primary-color: #F0E2CE;
    --accent-color: #FF8B7C;
    --darker-accent-color: #e8604d;
    --header-border-color: #F0E2CE;
    --color-background-control: #e8604d;
    /* --color-foreground-control: #1A2335; */
    --color-border-control: white;
    --time-transition-control: black;
  }

  body.light-mode {
    --background-color: #F0E2CE;
    --primary-color: #e8604d;
    --accent-color: #1A2335;
    --darker-accent-color: #F0E2CE;
    --header-border-color: #e8604d;
    --color-background-control: #F0E2CE;
    --color-border-control: #e8604d;
  }