@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Josefin+Slab:300,500,500italic,600');

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    overflow: hidden;
    grid-gap: 1rem;
    padding: 1rem;
}

.grid-item {
    text-align: center;
    max-width: 100%;
}
.grid-item>a {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 20px;
}